@model PawelOwczarekZad1Lab6.Models.PlaneModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Plane</title>
</head>
<body>

    <h4>PlaneModel</h4>
    <hr />
    <!--Wygenerowany widok create z template visuala-->
        <div class="row">
            <div class="col-md-4">
                <form asp-action="addPlane">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manufacturer" class="control-label"></label>
                        <input asp-for="Manufacturer" class="form-control" />
                        <span asp-validation-for="Manufacturer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Owner" class="control-label"></label>
                        <input asp-for="Owner" class="form-control" />
                        <span asp-validation-for="Owner" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PassangerCapacity" class="control-label"></label>
                        <input asp-for="PassangerCapacity" class="form-control" />
                        <span asp-validation-for="PassangerCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Range" class="control-label"></label>
                        <input asp-for="Range" class="form-control" />
                        <span asp-validation-for="Range" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FuelCapacity" class="control-label"></label>
                        <input asp-for="FuelCapacity" class="form-control" />
                        <span asp-validation-for="FuelCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="GetAllPlanes">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
        
    </body>
</html>
